
// banner section

.banner {
    position: relative;
    overflow: hidden;

    &_main {
        max-width: 700px;
        position: relative;
        z-index: 2;
    }

    &_media {
        position: absolute;
        z-index: 1;
        color: $light;
        display: none;
    }
}

// media queries

// --- desktop
@media screen and (min-width: 1199.98px) {
    .banner {
        &_media {
            display: block;
            top: -337px;
            right: -310px;
            transform: rotate(45deg);
        }
    }
}