
// fonts
$bodyFont: "Montserrat", sans-serif;
$accentFont: "Raleway", sans-serif;

// colors
$headerColor: #534931;
$bodyColor: #5C5C5C;
$accentColor: #47290a;
$overlay: rgba(247, 247, 247, 0.9);
$primary: #E5DCD2;
$light: #F7F7F7;